@using Maestro.Web.Models.Users
@model ResetPasswordAccountViewModel

@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <!-- MAIN CONTENT - SITE ADMIN -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ci-content">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-signin-ci" }))
                    {
                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.Token)
                        @Html.HiddenFor(m => m.Expires)
                        @Html.HiddenFor(m => m.PasswordExpiration)

                        <h2 class="form-signin-heading-ci">@GlobalStrings.Users_ChangePassword_PageTitle</h2>

                        @Html.LabelFor(model => model.Email, new { @class = "sr-only" })

                        <input class="form-control" value="@Html.DisplayTextFor(model => model.Email)" readonly="readonly">

                        @Html.LabelFor(model => model.Password, new { @class = "sr-only" })
                        @Html.PasswordFor(model => model.Password, new { @required = "required", @placeholder = "New Password", @class = "form-control" })

                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "sr-only" })
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @required = "required", @placeholder = "Confirm Password", @class = "form-control" })

                        <div class="validation-message-ci">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary btn-block">@GlobalStrings.Users_ActivateAccount_Reset</button>

                    }
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END MAIN CONTENT -->

@section scripts
{
    @Scripts.Render("~/bundles/js/jqueryval")
    @Scripts.Render("~/bundles/js/activate-account")
}
